@model List<Asp.net_School.Models.Domain.Student>

@{
}
<h1>Students</h1>
<table class="table">
    <thread>
        <tr>
       
            <th>Department</th>
            <th> </th>
        </tr>
        
    </thread>
    <tbody>
        @foreach(var student in Model)
        {
            <tr>
              
                <td>@student.Department</td>
                <td><a href="Students/View/@student.Id">View</a></td>
            </tr>
        }
    </tbody>
</table>
